.book-details {
  padding: 5rem 10vw 0;
}
.book-img-and-details {
  display: flex;
  gap: 2rem;
}
.cover-book-details {
  width: 250px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.fav {
  width: 35px;
}
.formats-list {
  display: flex;
  gap: 2vw;
}
.button-format {
  font-weight: bold;
  border: 1px solid black;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.button-format:hover {
  font-weight: bold;
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 0.4rem 1rem;
  border-radius: 10px;
}
.book-subjects {
  list-style-position: inside;
  list-style-type: square;
}
.ebook-formats {
  margin-bottom: 1rem;
}
