@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: min-content;
}

html {
  background-color: #fcfcfc;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

input {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Library3am, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
