.signin,
.signup {
  text-align: center;
}
.form-signin,
.form-signup {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-family: Library3am, Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.button-validate {
  font-weight: bold;
  border: 1px solid black;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 1.5rem;
}
.button-validate:hover {
  font-weight: bold;
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 0.4rem 1rem;
  border-radius: 10px;
}
